# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/

# Project-specific (Uv / Ruff / Mypy)
.python-version
.ruff_cache/
.mypy_cache/
uv.lock

# Env files 
.env
.env.local
.env.*.local
# .env.test

# Test / Coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/
tests/.pytest_cache/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store